In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[289, 289, 289]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [9]:
df['Neighbourhood'] = df['Neighbourhood\n']

In [10]:
df['Neighbourhood'].replace(regex=True,inplace=True,to_replace=r'\n',value=r'')

In [11]:
df.head()

  Postcode           Borough     Neighbourhood\n     Neighbourhood
0      M1A      Not assigned      Not assigned\n      Not assigned
1      M2A      Not assigned      Not assigned\n      Not assigned
2      M3A        North York         Parkwoods\n         Parkwoods
3      M4A        North York  Victoria Village\n  Victoria Village
4      M5A  Downtown Toronto      Harbourfront\n      Harbourfront

In [13]:
df.drop(['Neighbourhood\n'], axis=1, inplace=True)
df = df[['Postcode', 'Borough', 'Neighbourhood']]
df = df[df.Borough != 'Not assigned']
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [14]:
df.sort_values(by='Postcode', ascending=True, inplace=True)
df.head(19)

    Postcode      Borough             Neighbourhood
11       M1B  Scarborough                     Rouge
12       M1B  Scarborough                   Malvern
29       M1C  Scarborough                Port Union
28       M1C  Scarborough                Rouge Hill
27       M1C  Scarborough            Highland Creek
42       M1E  Scarborough                 Guildwood
43       M1E  Scarborough               Morningside
44       M1E  Scarborough                 West Hill
53       M1G  Scarborough                    Woburn
62       M1H  Scarborough                 Cedarbrae
76       M1J  Scarborough       Scarborough Village
91       M1K  Scarborough      East Birchmount Park
92       M1K  Scarborough                   Ionview
93       M1K  Scarborough              Kennedy Park
108      M1L  Scarborough               Golden Mile
109      M1L  Scarborough                  Oakridge
107      M1L  Scarborough                  Clairlea
123      M1M  Scarborough                Cliffcrest
125      M1M  Scarborough  Scarborough Village West

In [15]:
df.reset_index(inplace=True)
df.drop(['index'], axis=1, inplace=True)
df.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough      Port Union
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough  Highland Creek

In [16]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)).reset_index()
df[df.Neighbourhood == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [17]:
df.replace({'Neighbourhood': 'Not assigned'}, "Queen's Park", inplace=True)
df[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [18]:
df.shape

(103, 3)

In [19]:
url="http://cocl.us/Geospatial_data"
latlong=pd.read_csv(url)
result = pd.concat([df, latlong], axis=1, ignore_index=True)
result.head()

,0,1,2,3,4,5
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [20]:
result.columns = ['Postcode', 'Borough', 'Neighbourhood', 'Drop', 'Latitude', 'Longitude']
result.drop(['Drop'], axis=1, inplace=True)
result.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476